<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Controle de Patrimônio
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/now-ui-dashboard.css' %}" rel="stylesheet"/>
    {% block css %}{% endblock %}
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="orange">
        <!--
          It's possible change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="menu-head logo">
            <a href="{% url 'core:index' %}" class="simple-text logo-normal">
                Controle de Patrimônio
            </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class="">
                    <a href="#">
                        <i class="fas fa-laptop"></i>
                        <p>Itens</p>
                    </a>
                </li>
                {% if request.user.role == 1 %}
                    <li>
                        <a href="#">
                            <i class="fas fa-exclamation-triangle"></i>
                            <p>Problemas</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'rooms:index' %}">
                            <i class="fas fa-thumbtack"></i>
                            <p>Salas</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:index' %}">
                            <i class="fas fa-users"></i>
                            <p>Usuários</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-panel" id="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#">{% block title %}{% endblock %}</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link navbar-icon" href="{% url 'users:session_user_edit' %}">
                                <i class="fas fa-user-edit"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">&nbsp;Alterar dados</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-icon" href="{% url 'users:session_user_edit_password' %}">
                                <i class="fas fa-key"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">&nbsp;Alterar senha</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-icon" href="{% url 'users:logout' %}">
                                <i class="fas fa-sign-out-alt"></i>
                                <p><span class="d-lg-none d-md-block">&nbsp;Sair</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class=" container-fluid ">
                <div class="copyright" id="copyright">
                    Desenvolvido por <a href="#">Fernando Vedoin Garcia</a>, <a href="#">Felipe Cechin Mello</a> e <a
                        href="#">Bruno Frizzo Trojahn</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Core JS Files -->
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Notifications Plugin -->
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
{% block script %}
{% endblock %}
</body>
</html>