{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    ITENS
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            {% include 'layouts/alert.html' %}
        </div>
    </div>
    {% if request.user.role == 1 %}
        <div class="row" id="form-create">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Adicionar Item
                            <button class="btn btn-sm btn-outline-primary" id="close-form">
                                <i class="fas fa-times"></i> Fechar
                            </button>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mr-auto ml-auto mb-2">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row" id="list">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Lista de itens
                        {% if request.user.role == 1 %}
                            <button class="btn btn-sm btn-outline-primary" id="show-form-create">
                                <i class="fas fa-plus-square"></i> Adicionar Item
                            </button>
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <input type="text" class="form-control" placeholder="Procurar..." id="dt-search">
                        </div>
                        <div class="col-4 col-md-3">
                            <select id="dt-select-search" class="form-control d-none d-sm-block">
                                <option value="">Todas situações</option>
                                <option value="no-problem">Sem problemas</option>
                                <option value="w-problem">Com problemas</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="dt">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Problemas
                                </th>
                                {% if request.user.role == 1 %}
                                    <th>
                                        <i class="fas fa-cogs"></i>
                                    </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>
                                        {{ item.name }}
                                    </td>
                                    <td>
                                        {{ item.description }}
                                    </td>
                                    {% if item.num_problems_unsolved > 0 %}
                                        <td data-filter="w-problem">
                                            <i class="fas fa-exclamation-triangle text-danger"></i>
                                        </td>
                                    {% else %}
                                        <td data-filter="no-problem">
                                            <i class="fas fa-check-circle text-success"></i>
                                        </td>
                                    {% endif %}
                                    {% if request.user.role == 1 %}
                                        <td class="text-right text-center">
                                            <a href="{% url 'items:edit' item.pk %}"
                                               class="btn btn-sm btn-warning btn-icon">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <form method="post" action="{% url 'items:edit' item.pk %}" class="exclusion-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="_method" value="delete">
                                                <button type="submit" class="btn btn-sm btn-danger btn-icon">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/plugins/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootbox.min.js' %}"></script>
    <script src="{% static 'js/utils/indexInitialDisplay.js' %}"></script>
    <script src="{% static 'js/utils/deletionConfirmation.js' %}"></script>
    <script src="{% static 'js/scripts/items-page.js' %}"></script>
{% endblock %}